<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать статью - ***Название блога***</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form action ="" method="post">
    <style>
    .form-control{
    margin-top:15px;
  margin-bottom:30px;
  width: 700px;
  height: 400px;
}
    </style>
    {% if error %}
        <span style="color: red">{{error}}</span><br>
    {% endif %}
    <h1>Название статьи</h1>
    <input type = "text" class="dd" name="title">
    <p></p>
    <h1>Текст статьи</h1>

    <div class="col-xs-4">
        <textarea class="form-control" name="text"></textarea>
    </div>
    <button type="submit">Опубликовать</button>
</form>
</body>
</html>